body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Медиазапросы для адаптивности */
@media (max-width: 1200px) {
  .App-header {
    font-size: calc(8px + 2vmin);
  }
}

@media (max-width: 768px) {
  .App-header {
    font-size: calc(6px + 2vmin);
  }
}
